<!DOCTYPE html>
<html lang="en" >
    <!-- begin::Head -->
    <head>
        <meta charset="utf-8" />
        <!--begin::Base Styles -->
        {#        <link href="{{pathToWeb}}/build/app.css" rel="stylesheet" type="text/css" />#}
        <link href="{{pathToWeb}}/build/css/styles_pdf.css" rel="stylesheet" type="text/css" />
    </head>
    <!-- end::Head -->
    <!-- end::Body -->
    <body>
        {%if creditNote|length> 0 %}
            <div class="container"> 
                <div class="row">
                    <div class="column-left">
                        <div id="infotmation_logo">
                            {%if store.logo is defined %}
                                <img src="{{pathLogoBranchOffice}}{{store.logo.contentUrl}}" height="170" width="400"/>
                            {%elseif creditNote.companyRuc.logo is defined %}
                                <img src="{{pathLogoCompany}}{{creditNote.companyRuc.logo.contentUrl}}" height="170" width="400"/>
                            {%else%}
                                <img src="{{pathLogoCompanyDefault}}logo_default.jpg" height="170" width="400"/>
                            {%endif%}
                        </div>
                        <div id="infotmation_company">
                            <div class="row">
                                <div class="float-left">{{creditNote.companyBusinessName}}</div>
                            </div>
                            <div class="row">
                                <div class="float-left"><strong>Dirección :</strong> {{creditNote.matrixAddress}} </div>
                            </div>
                            <div class="row">
                                <div class="float-left">OBLIGADO A LLEVAR CONTABILIDAD ?
                                    {%if creditNote.obligedAccountingStatus%}
                                        <strong>SI</strong>
                                    {%else%}
                                        <strong>NO</strong>
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-right">
                        <div id="infotmation_creditNote">

                            <div class="row">
                                <div class="float-left"><h4>R.U.C: {{creditNote.companyRuc.companyRuc}}</h4></div>
                            </div>
                            <div class="row">
                                <div class="center"><h2>Nota de crédito</h2></div>
                                <div class="center"><h5>No: {{creditNote.codeCreditNoteExternal}}</h5></div>
                            </div>
                            <div class="row">
                                <div class="center">NÚMERO DE AUTORIZACIÓN</div>
                            </div>
                            <div class="row">
                                <div class="center" style="font-size: 14px;">{{creditNote.numberAuthorizationSri}}</div>
                            </div>
                            <div class="row">
                                <div class="float-left" style="font-size: 14px;">FECHA Y HORA DE AUTORIZACIÓN:</div>
                                <div class="float-right">{{creditNote.authorizationDateStart|date('d-m-Y H:i:s')}}</div>
                            </div>
                            <div class="row">
                                <div class="float-left">AMBIENTE: {{creditNote.ambientSri}}</div>
                                <div class="float-right"></div>
                                <div class="float-left">EMISIÓN: NORMAL</div>
                                <div class="float-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="information-client">
                    <div class="row">
                        <div class="float-left"><strong>Razón Social / Nombres y Apellidos:</strong> {{creditNote.clientName }} </div>
                        <div class="float-right"><strong>Fecha Emisión:</strong> {{creditNote.createAtReal|date('d-m-Y') }}</div>

                    </div>
                    <div class="row">
                        <div class="float-left"><strong>Identificación:</strong> {{creditNote.identificationClient }} </div>
                        <div class="float-right"><strong>Comprobante que modifica:</strong> {{creditNote.numberDocomumentoModified }} </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <table id="table-products">
                        <tr>
                            <th style="width:60%;">RAZÓN DE LA MODIFICACIÓN </th>
                            <th style="width:40%;">VALOR</th> 
                        </tr>
                        <tr>
                            <td style="width:60%;">Descripción</td>
                            <td style="width:40%; text-align: right;">{{creditNote.totalWithoutTax|number_format(2, '.', ',')}}</td> 
                        </tr>
                    </table>
                </div>

                <div class="row">
                    <div class="column-left-additional">
                        <div id="additional-information">
                            <br>
                            <div class="row">
                                <div class="center"> Información Adicional</div>
                            </div>
                            <div class="row">
                                <div class="float-left"><strong>Teléfono: </strong> {{creditNote.phone}} </div>
                            </div>
                            <div class="row">
                                <div class="float-left"><strong>Dirección :</strong>{{creditNote.storeAddress}} </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-right-price">
                        <div id="price-details-information">
                            <table id="table-price">
                                <tr>
                                    <td>SUBTOTAL 12% </td> 
                                    <td style="text-align: right;">{{creditNote.totalWithoutTax|number_format(2, '.', ',')}}</td>
                                </tr>
                                <tr>
                                    <td>SUBTOTAL 0% </td> 
                                    <td style="text-align: right;">0</td>
                                </tr>
                                <tr>
                                    <td>SUBTOTAL SIN IMPUESTOS</td> 
                                    <td style="text-align: right;">{{creditNote.totalWithoutTax|number_format(2, '.', ',')}}</td>
                                </tr>
                                <tr>
                                    <td>IVA 12%</td> 
                                    <td style="text-align: right;">{{creditNote.valueDiscount|number_format(2, '.', ',')}}</td>
                                </tr>
                                <tr>
                                    <td>VALOR A PAGAR</td> 
                                    <td style="text-align: right;">{{creditNote.totalAmount|number_format(2, '.', ',')}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {%else%}
            No existe el código de la nota de crédito
        {%endif%}
    </body>

    <!-- end::Body -->
</html>